@charset "ISO-8859-1";

.line-separator {
	height: 3rem;
	background-color: #e1e3e6;	
}

header, table .table-primary {
	background-color: #0977e6
}

header {
	height: 5rem;
	display: flex;
	align-items: center;
}

header h2 {
	margin-left: 2rem;
	font-weight: 900;
	color: #fff;
}

.tb-heading-align{
	background-color: #148aff;
	font-size: 1.2rem;
	height: 3rem;
}

table .table-primary {
	color: #fff;
	font-weight: 700;
	
}

.btn-add{
	text-decoration: none;
	margin-left: 2rem;
	font-weight: 700;
}